$header-height: 75px;
$header-compressed-height: 70px;

// Our Mixin for compressed header (mobile and scroll)
@mixin compressHeader {
  padding-top: 5px;
  padding-bottom: 5px;
  transition: padding .3s ease-in-out;
  .site-header__logo {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    overflow: hidden;
    img {
      transition: width .3s ease-in-out;
      width: 100px;
    }
  }
  .site-header__name {
    transition: all .3s ease-in-out;
    padding: 5px 10px;
  }
}

.wrapper--header {
  position: fixed;
  width: 100%;
  -webkit-filter: drop-shadow(0 2px 2px rgba(0,0,0,.2));
  filter: url(../images/shadow.svg#drop-shadow);
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=180);
  background: white;
  z-index: 300;
  transition: all .3s ease-in-out;
  @include compressHeader;
  @include breakpoint($breakpoint-medium-width) {
    .site-header__logo {
      display: block;
      max-width: 120px;
      clear: both;
      img {
        height: auto;
        width: 100%;
      }
    }
    &.compressed {
      @include compressHeader;
      .site-header {
        a.loginpopup,
        a.search-button {
          top: 3px;
          span {
            @include element-invisible;
          }
        }
      }
      .region-navigation {
        li {
          padding: 10px 0;
          transition: padding .3s ease-in-out;
        }
      }
    }
  }
}

.site-header {
  padding-left: 0;
  padding-right: 0;
  .region {
    position: relative;
  }
  .region-header {
    text-align: center;
    .block-system-branding-block {
      display: inline-block;
      z-index: 200;
      @include breakpoint($breakpoint-medium-width) {
        position: absolute;
        left: 50%;
        margin-left: -60px;
        transition: margin .3s ease-in-out;
      }
    }
    .site-header__logo {
      display: inline-block;
      transition: all .3s ease-in-out;
      max-width: 120px;
      margin: 0 auto;
      img {
        display: block;
        height: auto;
      }
    }
    .site-header__name {
      float: left;
      padding: 30px 10px;
    }
  }
  .region-navigation {
    transition: all .3s ease-in-out;
    @include breakpoint($breakpoint-medium-width) {
      display: inline-block;
      width: 100%;
    }
    .contextual-region {
      width: 100%;
      text-align: center;
      li {
        transition: padding .3s ease-in-out;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        @include breakpoint($breakpoint-medium-width) {
          width: 130px;
          display: inline-block;
          margin-top: 0;
          margin-bottom: 0;
        }
        a {
          transition: .3s all;
          font-size: 32px;
          text-transform: uppercase;
          @include breakpoint($breakpoint-medium-width) {
            font-size: 16px;
          }
          &.is-active, &.hover {
            color: $red;
            background: none;
            transition: .3s all;
          }
        }
      }
      li:nth-of-type(2) {
        @include breakpoint($breakpoint-medium-width) {
          margin-right: 60px;
        }
      }
      li:nth-of-type(3) {
        @include breakpoint($breakpoint-medium-width) {
          margin-left: 60px;
        }
      }
    }
  }
  .responsive-nav {
    margin: 0;
    @include align(v);
    right: 20px;
    @include breakpoint($breakpoint-medium-width) {
      display: none;
    }
  }
  a.loginpopup,
  a.search-button {
    position: relative;
    float: right;
    top: 3px;
    right: 3em;
    margin-left: 1em;
    font-size: 14px;
    z-index: 1;
    transition: all .3s ease-in-out;
    @include link-colors($zivtech-dark, $hover: $zivtech-blue, $active: $zivtech-blue, $focus: $zivtech-blue);
    @include breakpoint($breakpoint-medium-width) {
      top: 30px;
      right: 0;
    }
    span {
      visibility: hidden;
      opacity: 0;
      @include align(h);
      transition: top .2s ease-in-out;
      top: -10px;
      @include breakpoint($breakpoint-medium-width) {
        visibility: visible;
      }
    }
    &:hover, &:focus {
      span {
        opacity: 1;
        top: -20px;
      }
    }
    i {
      display: block;
      margin: 0 auto;
    }
  }
  .region-search {
    float: right;
    right: 30px;
  }
}

// Related to Header
.wrapper--main {
  padding-top: $header-compressed-height;
  @include breakpoint($breakpoint-medium-width) {
    padding-top: $header-height;
  }
}

.wrapper--header.compressed {
  .block-system-branding-block {
    transition: margin .3s ease-in-out;
    @include breakpoint($breakpoint-medium-width) {
      margin-left: -50px;
    }
  }
}
