// Media
//
// Styleguide 6.0

// Figure
//
// The WYSIWYG will wrap images in a ```<figure>``` tag
//
// Markup:
// <figure><img src="../../images/placeholder.png"></figure>
//
// Styleguide 4.1

figure {
  margin: 1em 0;
  figcaption {
    padding: .5em 0;
    font-size: 90%;
    font-style: italic;
  }
}

.chalk-meet-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
  opacity: .8;
  .background-video {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .background-video iframe {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    overflow: hidden;
    z-index: 1;
    min-width: 100%;
    min-height: 101%;
  }
}

.chalk-meet {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  margin-top: -45px;
  a {
    background: rgba(1, 1, 1, .4);
    border: 2px solid white;
    font-size: 36px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    line-height: 36px;
    span {
      text-transform: none;
      font-weight: 100;
      font-size: 28px;
      display: block;
    }
  }
}
