// @file

//
// Reusable Grid based on Neat
//

// Global reusable grid system
// Based on http://neat.bourbon.io/
// @todo try http://gridle.org/documentation

.l-constrain{
  padding-left: $gutter;
  padding-right: $gutter;
  position: relative;

  @include media($b-medium) {
    @include outer-container($l-medium);
    padding-left: 0;
    padding-right: 0;
  }

  @include media($b-big) {
    @include outer-container($l-big);
  }

  @include media($b-wide) {
    @include outer-container($l-wide);
  }
}

.l-grid {
  @include clearfix;
  list-style: none;
  padding: 0;
}

.l-grid__row {
  @include clearfix;
  margin-left: - $gutter/2;
  margin-right: - $gutter/2;
}

.l-grid__column {
  margin-bottom: rhythm(1);
  float: left;
  width: 100%;
  box-sizing: border-box;

  @include media($b-medium) {
    @include pad($gutter/2);
  }

  .l-grid--cols-2 & {
    @include media($b-medium) {
      width: (1/2) * 100%;
    }
  }
  .l-grid--cols-3 & {
    @include media($b-medium) {
      width: (1/3) * 100%;
    }
  }
  .l-grid--cols-4 & {
    @include media($b-medium) {
      width: (1/4) * 100%;
    }
  }
  .l-grid--cols-5 & {
    @include media($b-medium) {
      width: (1/5) * 100%;
    }
  }
  .l-grid--cols-6 & {
    @include media($b-medium) {
      width: (1/6) * 100%;
    }
  }
}
