// @file
// Global website pages layout

.page{
  background-color: white;
  color: $primary-text-color;
}

.site-header{
  position: relative;
  padding: rem(40) 0 rem(20);
  z-index: 200;
  .block-system-branding-block {
    height: rem(50);
    position: relative;
  }
  .site-logo {
    width: rem(751);
    height: rem(542);
    background: url(../../images/chalk_custom_board_logo.png) no-repeat;
    background-size: 700%;
    background-position: 0 top;
    font-size: 0;
    position: absolute;
    left: 50%;
    top: 0;
    @include transform(scale(.2) translateX(-50%) translateY(-50%));
    @include transform-origin(left top);
  }
}
.site-brand-name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: modular-scale(7);
  line-height: rem(52);
  font-weight: bold;
  text-transform: uppercase;
}
.site-slogan{
  margin-top: 0;
  padding-top: 0;
  font-size: modular-scale(3);
  text-transform: uppercase;
  font-weight: lighter;
}

.l-grid--cols-2 {
  padding-bottom: rem(50);
  @include media($b-medium) {
    width: (1/2) * 100%;
  }
}

.path-frontpage {
  .flexslider {
    margin-bottom: 0;
    margin-top: rem(-150);
  }
  .block-system-branding-block {
    position: relative;
    z-index: 50;
    @include media($b-medium) {
      padding: 0;
    }
    img {
      display: block;
      width: 100%;
      @include media($b-medium) {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -10;
      }
    }
  }
  .main-content {
    position: relative;
    z-index: 0;
    .l-grid--cols-2 {
      @include media($b-medium) {
        margin-bottom: rem(100);
      }
    }
  }
  .block-views-blockevents-block-1 {
    overflow: hidden;
    .heading-block {
      background: #8acb88;
      padding: rem(40) 0 0;
      position: relative;
      z-index: 50;
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 150%;
        height: 150%;
        bottom: -60%;
        left: 50%;
        background: #8acb88;
        z-index: -10;
        @include transform(translateX(-50%) rotate(-5deg));
      }
    }
    h2 {
      font-size: modular-scale(7);
      font-weight: bold;
      text-transform: uppercase;
    }
    .subtitle {
      display: block;
    }
    h2,
    .subtitle{
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
      color: white;
    }
    .block-system-main-block,
    h2,
    .subtitle,
    .more-link {
      padding-left: $gutter;
      padding-right: $gutter;
      position: relative;
      @include media($b-medium) {
        @include outer-container($l-medium);
        padding-left: 0;
        padding-right: 0;
      }

      @include media($b-big) {
        @include outer-container($l-big);
      }

      @include media($b-wide) {
        @include outer-container($l-wide);
      }
    }
  }
}

.flex-viewport {
  position: relative;
  z-index: 50;
  padding: rem(150) 0;
  &:before {
    content: '';
    height: rem(200);
    width: 150%;
    background: url(../../images/concrete_background.jpg) no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    @include transform(translateY(-50%) translateX(-50%) rotate(-5deg));
  }
}

.slides {
  @include perspective(rem(1000));
  li {
    position: relative;
    @include transform-style(preserve-3d);
    will-change: transform;
    .views-field-field-artist {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      .field-content {
        height: 100%;
        position: relative;
        overflow: hidden;
        a {
          width: 100%;
          height: 100%;
          text-align: center;
          position: absolute;
          top: 0;
          left: 0;
          padding: rem(300) 0 0;
          font-size: rem(34);
          text-transform: uppercase;
          text-decoration: none;
          color: white;
          font-weight: bold;
          opacity: 0;
          line-height: rem(36);
          &:hover {
            animation: blurIn 1s;
            opacity: 1;
          }
        }
      }
    }
    .flex-caption {
      display: none;
    }
  }
  .flex-control-paging {
    display: none;
  }
}
.flex-control-paging {
  display: none;
}

.flexslider:hover .flex-direction-nav .flex-nav-next {
  right: 0;
}

.flexslider:hover .flex-direction-nav .flex-nav-prev {
  left: 0;
}

.flex-direction-nav a {
  padding: 30px;
  opacity: 1;
  z-index: 9999;
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -10px;
    font-size: 30px;
    color: $black;
  }
}

.page--full[about="/get-involved"] {
  text-align: center;
  .contact-button {
    display: inline-block;
    border: 1px solid $black;
    padding: rem(20);
  }
}

.videos-list, .artists-list, .events-list {
  padding-top: $gutter*2;
  a {
    color: $black;
    text-decoration: none;
  }
}

.page-event {
  .article--full-event {
    padding-top: $gutter*2;
  }

}

.videos-list {
  padding-left: $gutter;
  padding-right: $gutter;
  position: relative;
  @include media($b-medium) {
    @include outer-container($l-medium);
    padding-left: 0;
    padding-right: 0;
  }
  @include media($b-big) {
    @include outer-container($l-big);
  }
  @include media($b-wide) {
    @include outer-container($l-wide);
  }
  ul {
    list-style: none;
    font-size: 0;
    li {
      display: inline-block;
      margin: 0 0 $gutter 0;
      width: 100%;
      @include media($b-medium) {
        width: (1/2) * 100% - 2;
        margin: 0 0 2% 2%;
        &:nth-child(2n+1) {
          margin-left: 0;
        }
      }
      h1 {
        display: none;
      }
    }
  }
}

.events-list {
  h4 {
    margin: $gutter 0;
  }
}

.artists-list, .events-list {
  padding-left: $gutter;
  padding-right: $gutter;
  position: relative;
  z-index: 50;
  @include media($b-medium) {
    @include outer-container($l-medium);
    padding-left: 0;
    padding-right: 0;
  }
  @include media($b-big) {
    @include outer-container($l-big);
  }
  @include media($b-wide) {
    @include outer-container($l-wide);
  }
  ul {
    list-style: none;
    font-size: 0;
    padding: 0;
    li {
      overflow: hidden;
      font-size: $font-size-normal;
      position: relative;
      background: white;
      display: inline-block;
      vertical-align: top;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      margin: 0 0 $gutter 0;
      width: 100%;
      @include media($b-medium) {
        width: (1/2) * 100% - 2;
        margin: 0 0 2% 2%;
        &:nth-child(2n+1) {
          margin-left: 0;
        }
      }
      @include media($b-big) {
        width: (1/3) * 100% - 2;
        &:nth-child(2n+1) {
          margin-left: 2%;
        }
        &:nth-child(3n+1) {
          margin-left: 0;
        }
      }
      .artist__banner, .event__image {
        line-height: 0;
        img {
          display: block;
          width: 100%;
        }
      }
      .event__date {
        background: $black;
        color: white;
        padding: rem(10) rem(20);
        position: absolute;
        width: 100%;
        bottom: 0;
      }
      .wrapper {
        padding: 0 rem(20);
      }
      footer {
        padding: rem(10) rem(20);
        position: absolute;
        bottom: 0;
        @include transform(translateX(rem(-200)));
        display: none;
      }
      &:hover {
        box-shadow: 0 10px 30px rgba(0,0,0,0.2);
        @include transform(translateY(rem(-10)));
        footer {
          @include transform(translateX(rem(0)));
        }
      }
    }
  }
  &.artists-list {
    .artists__banner {
      line-height: 0;
    }
    h4 {
      margin: 0;
      padding: rem(20);
      background: $black;
      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
  &.events-list {
    li {
      padding-bottom: rem(44);
    }
  }
  .faux-www {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 200;
    top: 0;
    left: 0;
  }
}

.page-artist {
  .article__title {
    font-size: modular-scale(5);
  }
  .field__label {
    font-size: $font-size-xxl;
    font-weight: bold;
  }
  .field--type-link {
    .field__items {
      margin: $gutter 0;
      div {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
  .block-views-blockboards-by-artist-block-1__title {
    display: none;
  }
  .flexslider {
    margin: rem(40) 0;
    border: 0;
  }
  .flex-viewport {
    margin-top: rem(-150);
  }
}

.block-chalk-meet-block {
  position: relative;
  margin-top: rem(80);
  .background-video {
    width: 100vw;
    height: 100vh;
  }
  .background-video iframe {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    overflow: hidden;
    z-index: 0;
    min-width: 100%;
    min-height: 101%;
  }
  .chalk-meet {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateY(-50%) translateX(-50%));
    a {
      display: block;
      padding: rem(20) rem(40);
      font-size: $font-size-xl;

      background: rgba(1,1,1,0.4);
      border: 2px solid white;
      font-size: 36px;
      text-transform: uppercase;
      color: white;
      display: inline-block;
      font-weight: bold;
      line-height: 36px;
      text-align: center;
      text-decoration: none;
    }
    span {
      text-transform: none;
      font-weight: 100;
      font-size: 28px;
      display: block;
    }
  }
}

.site-footer{
  padding: rem(20) 0 0;
  border-top: rem(20) solid rgba(1, 1, 1, 0.7);
  background: url(../../images/footer_background.jpg) no-repeat;
  background-size: cover;
  background-position: center rem(-20);
  .chalk-footer__top {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 180px 0 80px;
    text-align: center;
    @include media($b-medium) {
      padding: 180px 0;
    }
    h2 {
      font-size: 54px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      font-family: $header-font-family;
    }
    .contact-link, .brochure-link {
      padding: 10px 20px;
      color: white;
      text-transform: uppercase;
      font-size: 18px;
      display: inline-block;
    }
    .contact-link {
      background: #ed4933;
      border: 1px solid #ed4933;
      margin-bottom: 20px;
      @include media($b-medium) {
        margin-right: 20px;
      }
    }
    .brochure-link {
      background: rgba(1, 1, 1, 0.4);
      border: 1px solid white;
    }
  }
  .chalk-footer__sub {
    background: rgba(1, 1, 1, 0.7);
    text-align: center;
    color: white;
    padding: 10px 0 0;
    p {
      margin: 0;
      background: $black;
    }
    ul {
      font-size: 0;
      padding: 10px 0 0;
      li {
        display: inline-block;
        font-size: 16px;
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
        a {
          display: block;
          width: 30px;
          height: 30px;
          text-indent: -9999px;
          &.facebook {
            background: url(../../images/facebook-icon.png);
            background: url(../../images/facebook-icon.svg);
            background-size: 30px;
          }
          &.ello {
            background: url(../../images/ello-icon.png);
            background: url(../../images/ello-icon.svg);
            background-size: 30px;
          }
          &.pinterest {
            background: url(../../images/pinterest-icon.png);
            background: url(../../images/pinterest-icon.svg);
            background-size: 30px;
          }
          &.instagram {
            background: url(../../images/instagram-icon.png);
            background: url(../../images/instagram-icon.svg);
            background-size: 30px;
          }
          &.youtube {
            background: url(../../images/youtube-icon.png);
            background: url(../../images/youtube-icon.svg);
            background-size: 30px;
          }
        }
      }
    }
  }
}
