<table>
  <caption>aliquam luctus erat</caption>
  <thead>
    <tr>
      <th>Porta egestas venenatis</th>
      <th>Eu lobortis lacus</th>
      <th>Sed dictum mattis</th>
      <th>Aliquam venenatis lorem</th>
      <th>Vulputate lacus amet</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>Vestibulum tempor magna</td>
      <td>Iaculis ut malesuada</td>
      <td>Aliquam eu aliquam</td>
      <td>Et lobortis aliquam</td>
      <td>Duis viverra gravida</td>
    </tr>
    <tr class="even">
      <td>Accumsan elit erat</td>
      <td>Lorem tincidunt amet</td>
      <td>Auctor velit ut</td>
      <td>Cras malesuada orci</td>
      <td>Elementum nam eget</td>
    </tr>
    <tr class="odd">
      <td>Magna magna lobortis</td>
      <td>Lacus vestibulum auctor</td>
      <td>A a sit</td>
      <td>Gravida in ac</td>
      <td>A tempor ut</td>
    </tr>
    <tr class="even">
      <td>Adipiscing vestibulum est</td>
      <td>Dictum orci vestibulum</td>
      <td>Consequat eu viverra</td>
      <td>Est dignissim felis</td>
      <td>Aliquam ante magna</td>
    </tr>
    <tr class="odd">
      <td>Mi nam adipiscing</td>
      <td>Turpis eros porta</td>
      <td>Adipiscing lorem adipiscing</td>
      <td>Luctus auctor ipsum</td>
      <td>Lorem nec sit</td>
    </tr>
  </tbody>
</table>
