// @file
// Feed icon
// @todo move this icon in an icon scss file?
// see _help.scss too

.feed-icon {
  &:before{
    background: url(../images/core/feed.svg) no-repeat center;
    content: '';
    display: inline-block;
    height: 16px;
    margin-right: rem(5);
    vertical-align: middle;
    width: 16px;
  }
}
