/* line 8, /Users/bIDISTE/Sites/chalk/public_html/themes/custom/overlayshadow/sass/styleguide.scss */
.main-content {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem; }

/* line 13, /Users/bIDISTE/Sites/chalk/public_html/themes/custom/overlayshadow/sass/styleguide.scss */
.l-grid__column {
  border: 1px solid #000F10;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px; }

/* line 25, /Users/bIDISTE/Sites/chalk/public_html/themes/custom/overlayshadow/sass/styleguide.scss */
.brand-color-primary {
  background-color: #003C5A; }

/* line 25, /Users/bIDISTE/Sites/chalk/public_html/themes/custom/overlayshadow/sass/styleguide.scss */
.brand-color-secondary {
  background-color: #000F10; }

/* line 30, /Users/bIDISTE/Sites/chalk/public_html/themes/custom/overlayshadow/sass/styleguide.scss */
.brand-color {
  width: 20px;
  height: 20px;
  display: inline-block; }
