// @file

// Pager
//
// Markup:
// <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
//   <ul class="pager__items js-pager__items">
//     <li class="pager__item is-active">
//       <a href="?page=0" title="Current page">1</a>
//     </li>
//     <li class="pager__item">
//     <a href="?page=1" title="Go to page 2">2</a>
//     </li>
//     <li class="pager__item">
//       <a href="?page=2" title="Go to page 3">3</a>
//     </li>
//     <li class="pager__item pager__item--next">
//       <a href="?page=1" title="Go to next page" rel="next">
//         <span aria-hidden="true">Next ›</span>
//       </a>
//     </li>
//     <li class="pager__item pager__item--last">
//       <a href="?page=2" title="Go to last page">
//         <span aria-hidden="true">Last »</span>
//       </a>
//     </li>
//   </ul>
// </nav>
//
// Styleguide 8.2

.pager{
  clear: both;
}

.pager__items{
  padding: 0;
  list-style: none;
}

.pager__item{
  @include media($b-medium) {
    display: inline-block;
    vertical-align: middle;
  }

  a{
    display: block;
    border-bottom: 2px solid transparent;
    text-decoration: none;

    &:hover{
      border-bottom: 2px solid $link-hover-color;
    }

    @include media($b-medium) {
      padding: 0 rem(5);
    }
  }

  &.is-active{
    a{
      border-bottom: 2px solid $link-hover-color;
      color: $link-hover-color;
      text-decoration: none;
    }
  }
}
