/* line 8, /Users/baptistemar/Sites/chalk/themes/custom/chalkboard/sass/styleguide.scss */
.main-content {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem; }

/* line 13, /Users/baptistemar/Sites/chalk/themes/custom/chalkboard/sass/styleguide.scss */
.l-grid__column {
  border: 1px solid black;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px; }

/* line 25, /Users/baptistemar/Sites/chalk/themes/custom/chalkboard/sass/styleguide.scss */
.brand-color-primary {
  background-color: black; }

/* line 25, /Users/baptistemar/Sites/chalk/themes/custom/chalkboard/sass/styleguide.scss */
.brand-color-secondary {
  background-color: #61afcd; }

/* line 30, /Users/baptistemar/Sites/chalk/themes/custom/chalkboard/sass/styleguide.scss */
.brand-color {
  width: 20px;
  height: 20px;
  display: inline-block; }
