{#
/**
 * @file
 * Theme implementation of the Hero block.
 *
 * @todo markup
 * @ingroup themeable
 */
#}

<div class="hero">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/tisc4pUGeok" frameborder="0" allowfullscreen></iframe>
  <div class="aquarelle"></div>
</div>
