{#
/**
* @file
* Theme implementation of the Social Links block.
*
* @todo review markup, semantic
* @ingroup themeable
*/
#}

<div class="social-links">
  {{ social_links }}
  <p>{{ 'Follow us'|t }}</p>
</div>
