//
//  Typography
//

// 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
//    http://clagnut.com/blog/348/#c790
// 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
//    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
// html {
//   font-size: 100% * ($base-font-size / 16px);
//   -webkit-text-size-adjust: 100%;
//   -ms-text-size-adjust: 100%;
//   -webkit-font-smoothing: antialiased;
// }

// Addresses font-family inconsistency between 'textarea' and other form elements.
// html,
// button,
// input,
// select,
// textarea {
//   font-family: $base-font-family;
// }

// body{
//   // @include font-feature-settings("kern", "liga", "pnum");
//   -webkit-font-smoothing: antialiased;
//   color: $primary-text-color;
//   font-family: $base-font-family;
//   font-size: $base-font-size;
//   line-height: $base-line-height;

//   // font-size: $base-font-size;
//   // line-height: $base-line-height;
// }

// h1 {
//   margin: $h1_margin;
//   padding: $h1_padding;
//   font-size: $h1_font_size;
// }

h2 {
  font-size: $font-size-xxxl;
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  font-size: $font-size-xxl;
  text-transform: uppercase;
  font-weight: 100;
}

// h4 {
//   margin: $h4_margin;
//   padding: $h4_padding;
//   font-size: $h4_font_size;
// }

// h5 {
//   margin: $h5_margin;
//   padding: $h5_padding;
//   font-size: $h5_font_size;
// }

// h6 {
//   margin: $h6_margin;
//   padding: $h6_padding;
//   font-size: $h6_font_size;
// }


// %hN {
//   @include hyphens(none);
//   color: $heading-text-color;
//   font-family: $header-font-family;
//   font-weight: 600;
//   line-height: 1.1;
//   text-rendering: optimizeLegibility;
// }

// h1 {
//   @extend %hN;
//   font-size: em($font-size-xxl);
//   margin: 0 0 rhythm(1, $font-size-xxl);
// }

// h2 {
//   @extend %hN;
//   font-size: em($font-size-xl);
//   margin: 0 0 rhythm(1, $font-size-xl);
// }

// h3 {
//   @extend %hN;
//   font-size: em($font-size-lg);
//   margin: 0 0 rhythm(1, $font-size-normal);
// }

// h4 {
//   @extend %hN;
//   font-size: em($font-size-normal);
//   margin: 0 0 rhythm(1, $font-size-normal);
// }

// h5 {
//   @extend %hN;
//   font-size: em($font-size-normal);
//   margin: 0 0 rhythm(1, $font-size-normal);
// }

// h6 {
//   @extend %hN;
//   font-size: em($font-size-md);
//   margin: 0 0 rhythm(1, $font-size-md);
// }

// hr {
//   // border: 1px solid $form-border-color;
//   margin: rhythm(1) 0;
//   padding-bottom: -1px;
// }

// Titles

// .page__title{
// }
