{#
/**
 * @file
 * Theme implementation of the footer.
 *
 * @ingroup themeable
 */
#}

<div class='chalk-meet-background'>
  <div class='background-video'>
    <div id='player'></div>
  </div>
</div>

<div class='chalk-meet'>
  {{ meet_link }}
</div>
