<div class="l-constrain l-grid">
  <div class="l-grid__row l-grid--cols-2">
    <div class="l-grid__column">.l-grid__column</div>
    <div class="l-grid__column">.l-grid__column</div>
  </div>
  <div class="l-grid__row l-grid--cols-3">
    <div class="l-grid__column">.l-grid__column</div>
    <div class="l-grid__column">.l-grid__column</div>
    <div class="l-grid__column">.l-grid__column</div>
  </div>
  <div class="l-grid__row l-grid--cols-4">
    <div class="l-grid__column">.l-grid__column</div>
    <div class="l-grid__column">.l-grid__column</div>
    <div class="l-grid__column">.l-grid__column</div>
    <div class="l-grid__column">.l-grid__column</div>
  </div>
  <div class="l-grid__row l-grid--cols-5">
    <div class="l-grid__column">.l-grid__column</div>
    <div class="l-grid__column">.l-grid__column</div>
    <div class="l-grid__column">.l-grid__column</div>
    <div class="l-grid__column">.l-grid__column</div>
    <div class="l-grid__column">.l-grid__column</div>
  </div>
  <div class="l-grid__row l-grid--cols-6">
    <div class="l-grid__column">.l-grid__column</div>
    <div class="l-grid__column">.l-grid__column</div>
    <div class="l-grid__column">.l-grid__column</div>
    <div class="l-grid__column">.l-grid__column</div>
    <div class="l-grid__column">.l-grid__column</div>
    <div class="l-grid__column">.l-grid__column</div>
  </div>
</div>
